{% extends "bootstrap/base.html" %}
{% block title %}MIPT IMDb{% endblock %}
{% block content %}
{% if country %}

<p><strong>{{ country.name }}</strong> successfully created! Add another below.</p>
<p><a href="/">Back to Main Page</a></p>

{% endif %}
<!-- The form action and method correspond to a Flask route -->
<form action="/country/add/" method="POST">
  <div class="form-group">
    <label for="country_name">Name</label>
    <input type="text" class="form-control" id="country_name" name="country_name_field" placeholder="Kazakhstan">
  </div>
    <!-- We need a submit button to submit a form! -->
    <input type="submit" value="Add" class="btn btn-primary"/>
</form>



{%  endblock %}