{% extends "bootstrap/base.html" %}
{% block title %}MIPT IMDb{% endblock %}

{% block content %}

<table class="table table-bordered border-primary">
  <thead>
    <tr>

            {% for field in film.columns() %}
            {% if field == "country_id" %}
                <th scope="col"> country </th>
            {% else %}
                <th scope="col"> {{ field }} </th>
            {% endif %}

            {% endfor %}

    </tr>
  </thead>
  <tbody>
    <tr>

        <th scope="row">{{ film.uid }} </th>
        <td> {{ film.name }} </td>
        <td>{{ film.country_films }}</td>
        <td>{{ film.birth }}</td>
        <td>{{ film.description }}</td>


    </tr>
  </tbody>
</table>
{% endblock %}