{% extends "bootstrap/base.html" %}
{% block title %}MIPT IMDb{% endblock %}
{% block styles %}
{{super()}}
<style>
    div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}
</style>
{% endblock %}
{% block content %}
<h1>This is the list of people connected to cinema</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
            <th scope="col">  uid  </th>
            <th scope="col">  firstname  </th>
            <th scope="col">  lastname  </th>
    </tr>
  </thead>
  <tbody>
  {% for person in people %}
    <tr>

        <th scope="row">{{ person.uid }} </th>
        <td><a href="/people/{{ person.uid }}/"> {{ person.firstname }} </a> </td>
        <td>{{ person.lastname }}</td>


    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}