{% extends "bootstrap/base.html" %}
{% block title %}MIPT IMDb{% endblock %}

{% block content %}

<table class="table table-bordered border-primary">
  <thead>
    <tr>

            {% for field in person.columns() %}
            {% if field != "password" %}
                {% if field == "country_of_birth_id" %}
                    <th scope="col"> country of birth </th>
                {% else %}
                    <th scope="col"> {{ field }} </th>
                {% endif %}
            {% endif %}
            {% endfor %}

    </tr>
  </thead>
  <tbody>
    <tr>

        <th scope="row">{{ person.uid }} </th>
        <td> {{ person.firstname }} </td>
        <td> {{ person.lastname }} </td>
        <td>{{ person.country_of_birth }}</td>
        <td>{{ person.birth }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.username }}</td>


    </tr>
  </tbody>
</table>
{% endblock %}