{% extends "bootstrap/base.html" %}
{% block title %}MIPT IMDb{% endblock %}
{% block content %}
{% if person %}

<p><strong>{{person.firstname_lastname}}</strong> successfully created! Add another below.</p>
<p><a href="/people/">Back to People List</a></p>

{% endif %}
<!-- The form action and method correspond to a Flask route -->
<form action="/person/add/" method="POST">
  <div class="form-group">
    <label for="person_firstname">Name and Surname</label>
    <input type="text" class="form-control" id="person_firstname" name="person_firstname_field" placeholder="Рамиль Агеев">
  </div>
  <div class="form-group">
    <label for="person_birth">Birth date</label>
    <input type="text" class="form-control" id="person_birth" name="person_birth_field" placeholder="2001">
  </div>
    <!-- We need a submit button to submit a form! -->
    <input type="submit" value="Add" class="btn btn-primary"/>
</form>



{%  endblock %}