{% extends "bootstrap/base.html" %}
{% block title %}MIPT IMDb{% endblock %}

{% block content %}
<h2>
    Personal information
</h2>
<table class="table table-bordered border-primary">
    <thead>
    <tr>
        <th bgcolor="#faebd7"> Key </th>
        <th bgcolor="#faebd7"> Value </th>

    </tr>
  </thead>
  <tbody>
        {% for field in person.columns() %}
            <tr>
                <th scope="col" > {{ field }} </th>
                <td > {{ person[field] }} </td>  <!-- the same as getattr(foo, "bar")-->
            {% endfor %}
            </tr>
  </tbody>
</table>

<h2>
    The list of attended films
</h2>

<table class="table">
    <thead>
    <tr>
        <th> Film </th>
        <th> Role </th>

    </tr>
  </thead>
  <tbody>
        {% for rel in relations %}
            <tr>
                <th scope="col" > <a href="/films/{{ rel[1].uid }}">{{ rel[1].name }} </a></th>
                <td > {{ rel[0].role }} </td>  <!-- the same as getattr(foo, "bar")-->
            </tr>
        {% endfor %}
  </tbody>
</table>

<h2>
    The list of Person Countries
</h2>

<table class="table">
    <thead>
    <tr>
        <th> Countries </th>

    </tr>
  </thead>
  <tbody>
        {% for country in person.countries %}
            <tr>
                <td > {{ country.country.name }} </td>  <!-- the same as getattr(foo, "bar")-->
            </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}